body {
    background-color:powderblue;
    min-height: 97vh;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.header-adds {
    display: grid;
    grid-template-columns: auto 13.55% auto;
}

.header-adds > div {
    text-align: center;
}

.header-adds > div > a > img {
    width: 100%;
    object-fit: fill;
}

.main-content {
    display: grid;
    grid-template-columns: 10% auto min-content;
}

.left-side {
    background-color: #97c2d8;
}

.main-area {
    text-align: center;
}

.right-side {
    background-color: #97c2d8;
    text-align: center;
    width: min-content;
}

.audio-area-side {
    display: block;
    margin: 20px 5px;
}

.audio-area-main {
    display: none;
    margin: 20px 5px;
}

#audioPlayerMain, #audioPlayerRight {
    margin: 15px 0;
}

#audioPlayerRight {
    width: min-content;
}

.title {
    margin: 10px;
}

.main-title {
    color:Tomato;
    font-size:7vw;
    font-family: Brush Script MT, serif;
    line-height: 0.8;
}

.mhz-title {
    color:Red;
    font-size:3vw;
    font-family: Brush Script MT, serif;
    line-height: 0.4;
    word-spacing: 1px;
    margin-bottom: 3rem;
}

.currently-playing-main-title {
    color:black;
    font-size:18px;
    font-family:courier, serif;
}

.currently-playing-song-title {
    color:black;
    font-size:14px;
    font-family:courier, serif;
}

.list-title {
    color:black;
    font-size:18px;
    font-family:courier, serif;

}

.episodes {
    color: #4e899a;
    font-size:16px;
    font-family:courier, serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.episodes > a {
    text-decoration-style: dotted;
    color: green;

}

.episodes > a.extra {
    text-decoration-style: dotted;
    color: #4e899a;
}

.footer {
    display: grid;
    grid-template-columns: 50% auto auto;
    height: inherit;
    margin: 6px 0;
    background-color: #97c2d8;
}

.footer-text {
    width: inherit;
    text-align: center;
    color: powderblue;
    font-size:3vw;
    font-family: Brush Script MT, serif;
    word-spacing: 1px;
}



@media (max-width: 820px) {

    .main-content {
        display: grid;
        grid-template-columns: 2% auto 5%;
    }

    .audio-area-side {
        display: none;
    }

    .audio-area-main {
        display: block;
    }

    .main-title {
        font-size:10vw;
    }

    .mhz-title {
        font-size:4vw;
    }

    .list-title {
        color:black;
        font-size:3vw;
        font-family:courier, serif;
    }

    .episodes {
        font-size:3vw;
        font-family:courier, serif;
        line-height: 1.6;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }

    .episodes > a {
    }

    .footer {
    }
}



.collapsible {
    background-color: #932;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
}

.active, .collapsible:hover {
    background-color: #651;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: powderblue;
}

audio {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
